
*.tdo

Report/master\.toc

*.toc

*.aux

*.log

*.out

Report/master\.pdf

Report/master\.synctex\.gz

sounds/SoundSamples/test_with_specific_distances_and_angle/mufinew\.flac

sounds/SoundSamples/test_with_specific_distances_and_angle/mufinoise\.flac

sounds/SoundSamples/test_with_specific_distances_and_angle/noise\.flac

Report/figures/presentation/source1\.pdf

Report/figures/presentation/source1And2\.pdf

Report/figures/presentation/source2\.pdf

Report/figures/presentation/obtainedSource1And2\.pdf
